In [320]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score, log_loss
from sklearn.model_selection import train_test_split
import optuna
from sklearn.model_selection import cross_val_score, StratifiedKFold, cross_validate
from sklearn.pipeline import Pipeline , make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder
from catboost import CatBoostClassifier, cv, Pool, CatBoost
import matplotlib.pyplot as plt
import seaborn as sns

Load Data

In [321]:
age_gender_df = pd.read_csv("alter_geschlecht.csv")
interests_df = pd.read_csv("interesse.csv")
rest_df = pd.read_csv("rest.csv")

Check Each dataframe to understand the data better and look for unknown entries

In [322]:
age_gender_null_value_stats = age_gender_df.isnull().sum(axis=0)
age_gender_null_value_stats[age_gender_null_value_stats != 0]

Series([], dtype: int64)

In [323]:
age_gender_df.head()

       id Geschlecht  Alter
0  170727       Male     42
1   41795       Male     24
2  369321     Female     30
3  500463     Female     32
4  327695       Male     34

In [324]:
age_gender_df.describe()

                  id          Alter
count  508146.000000  508146.000000
mean   254073.500000      38.808413
std    146689.259281      15.500179
min         1.000000      20.000000
25%    127037.250000      25.000000
50%    254073.500000      36.000000
75%    381109.750000      49.000000
max    508146.000000      85.000000

In [325]:
interests_null_value_stats = interests_df.isnull().sum(axis=0)
interests_null_value_stats[interests_null_value_stats != 0]

Series([], dtype: int64)

In [326]:
interests_df.head()

   id  Interesse
0   1        1.0
1   2        0.0
2   3        1.0
3   4        0.0
4   5        0.0

In [327]:
interests_df.describe()

                  id      Interesse
count  381109.000000  381109.000000
mean   190555.000000       0.122563
std    110016.836208       0.327936
min         1.000000       0.000000
25%     95278.000000       0.000000
50%    190555.000000       0.000000
75%    285832.000000       0.000000
max    381109.000000       1.000000

In [328]:
rest_null_value_stats = rest_df.isnull().sum(axis=0)
rest_null_value_stats[rest_null_value_stats != 0]

Series([], dtype: int64)

In [329]:
rest_df.head()

  Fahrerlaubnis;Regional_Code;Vorversicherung;Alter_Fzg;Vorschaden;Jahresbeitrag;Vertriebskanal;Kundentreue;id
0        1;15.0;1;1-2 Year;No;2630.0;124.0;74;317635
1      1;28.0;0;1-2 Year;Yes;2630.0;125.0;213;337993
2     1;33.0;0;1-2 Year;Yes;27204.0;124.0;114;160325
3      1;46.0;1;< 1 Year;No;31999.0;152.0;251;141620
4        1;49.0;0;1-2 Year;Yes;28262.0;26.0;60;75060

In [330]:
rest_df.describe()

       Fahrerlaubnis;Regional_Code;Vorversicherung;Alter_Fzg;Vorschaden;Jahresbeitrag;Vertriebskanal;Kundentreue;id
count                                              508146
unique                                             508146
top           1;15.0;1;1-2 Year;No;2630.0;124.0;74;317635
freq                                                    1

Properly separate features by column

In [331]:
rest_df[["Fahrerlaubnis", "Regional_Code", "Vorversicherung", "Alter_Fzg", "Vorschaden", "Jahresbeitrag", "Vertriebskanal","Kundentreue","id"]]= rest_df['Fahrerlaubnis;Regional_Code;Vorversicherung;Alter_Fzg;Vorschaden;Jahresbeitrag;Vertriebskanal;Kundentreue;id'].str.split(';', n=-1, expand=True)

In [332]:
rest_df = rest_df.drop("Fahrerlaubnis;Regional_Code;Vorversicherung;Alter_Fzg;Vorschaden;Jahresbeitrag;Vertriebskanal;Kundentreue;id", axis=1)
rest_df.head()

,Fahrerlaubnis,Regional_Code,Vorversicherung,Alter_Fzg,Vorschaden,Jahresbeitrag,Vertriebskanal,Kundentreue,id
0,1,15.0,1,1-2 Year,No,2630.0,124.0,74,317635
1,1,28.0,0,1-2 Year,Yes,2630.0,125.0,213,337993
2,1,33.0,0,1-2 Year,Yes,27204.0,124.0,114,160325
3,1,46.0,1,< 1 Year,No,31999.0,152.0,251,141620
4,1,49.0,0,1-2 Year,Yes,28262.0,26.0,60,75060

In [333]:
rest_df.describe()

,Fahrerlaubnis,Regional_Code,Vorversicherung,Alter_Fzg,Vorschaden,Jahresbeitrag,Vertriebskanal,Kundentreue,id
count,508146,508146,508146,508146,508146,508146,508146,508146,508146
unique,2,53,2,3,2,52062,157,290,508146
top,1,28.0,0,1-2 Year,Yes,2630.0,152.0,256,317635
freq,507097,141937,275076,267015,256248,86488,179523,1877,1

Cast id as int to remain consistent

In [334]:
rest_df['id']= rest_df['id'].astype(int)

Merge data into a single frame for easier manipulation

In [335]:
merged_df = pd.merge(age_gender_df, rest_df, on='id', how='outer')
merged_df.head()

,id,Geschlecht,Alter,Fahrerlaubnis,Regional_Code,Vorversicherung,Alter_Fzg,Vorschaden,Jahresbeitrag,Vertriebskanal,Kundentreue
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39

In [336]:
merged_df =pd.merge(merged_df, interests_df, on='id', how='outer')

Clean feature formatting (numerical and categorical features)

In [337]:
merged_df['Regional_Code']= merged_df['Regional_Code'].astype(float).astype(int)
merged_df['Vertriebskanal']= merged_df['Vertriebskanal'].astype(float).astype(int)
merged_df.head()

,id,Geschlecht,Alter,Fahrerlaubnis,Regional_Code,Vorversicherung,Alter_Fzg,Vorschaden,Jahresbeitrag,Vertriebskanal,Kundentreue,Interesse
0,1,Male,44,1,28,0,> 2 Years,Yes,40454.0,26,217,1.0
1,2,Male,76,1,3,0,1-2 Year,No,33536.0,26,183,0.0
2,3,Male,47,1,28,0,> 2 Years,Yes,38294.0,26,27,1.0
3,4,Male,21,1,11,1,< 1 Year,No,28619.0,152,203,0.0
4,5,Female,29,1,41,1,< 1 Year,No,27496.0,152,39,0.0

In [338]:
merged_df_null_value_stats = merged_df.isnull().sum(axis=0)
merged_df_null_value_stats[merged_df_null_value_stats != 0]

Interesse    127037
dtype: int64

In [339]:
unknown_rows= merged_df[merged_df['Interesse'].isna()] #saved as a variable as it could be used for future testing samples

,id,Geschlecht,Alter,Fahrerlaubnis,Regional_Code,Vorversicherung,Alter_Fzg,Vorschaden,Jahresbeitrag,Vertriebskanal,Kundentreue,Interesse
381109,381110,Male,25,1,11,1,< 1 Year,No,35786.0,152,53,NaN
381110,381111,Male,40,1,28,0,1-2 Year,Yes,33762.0,7,111,NaN
381111,381112,Male,47,1,28,0,1-2 Year,Yes,40050.0,124,199,NaN
381112,381113,Male,24,1,27,1,< 1 Year,Yes,37356.0,152,187,NaN
381113,381114,Male,27,1,28,1,< 1 Year,No,59097.0,152,297,NaN

Remove rows where interest of customer is unknown

In [340]:
merged_df = merged_df[merged_df['Interesse'].notna()]
merged_df_null_value_stats = merged_df.isnull().sum(axis=0)
print(merged_df_null_value_stats[merged_df_null_value_stats != 0])

Series([], dtype: int64)

In [341]:

merged_df['Interesse'] = merged_df['Interesse'].astype(bool)
merged_df.head()

,id,Geschlecht,Alter,Fahrerlaubnis,Regional_Code,Vorversicherung,Alter_Fzg,Vorschaden,Jahresbeitrag,Vertriebskanal,Kundentreue,Interesse
0,1,Male,44,1,28,0,> 2 Years,Yes,40454.0,26,217,True
1,2,Male,76,1,3,0,1-2 Year,No,33536.0,26,183,False
2,3,Male,47,1,28,0,> 2 Years,Yes,38294.0,26,27,True
3,4,Male,21,1,11,1,< 1 Year,No,28619.0,152,203,False
4,5,Female,29,1,41,1,< 1 Year,No,27496.0,152,39,False

In [342]:
merged_df['Alter_Fzg'].unique()

array(['> 2 Years', '1-2 Year', '< 1 Year'], dtype=object)

Create a pipeline that handles the One Hot encoding of categorical features and uses a decision tree classifier as estimator

In [343]:
merged_df['Kundentreue']= merged_df['Kundentreue'].astype(int)
merged_df['Jahresbeitrag']= merged_df['Jahresbeitrag'].astype(float)
merged_df['Fahrerlaubnis']= merged_df['Fahrerlaubnis'].astype(bool)
merged_df['Vorversicherung']= merged_df['Vorversicherung'].astype(bool)

In [344]:
categorical_cols =['Geschlecht', 'Alter_Fzg','Vorschaden']

categorical_pipe = Pipeline(steps=[
                            ('oh_encoder', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])
dt_transformer = ColumnTransformer(transformers =[                
                                        ('categorical_pipe', categorical_pipe, categorical_cols)
],
                                        remainder = 'drop',
                                        n_jobs =-1)
dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier_pipeline = make_pipeline(dt_transformer, dt_classifier)

In [345]:
X.columns

Index(['id', 'Geschlecht', 'Alter', 'Fahrerlaubnis', 'Regional_Code',
       'Vorversicherung', 'Alter_Fzg', 'Vorschaden', 'Jahresbeitrag',
       'Vertriebskanal', 'Kundentreue'],
      dtype='object')

In [346]:
X.head()

,id,Geschlecht,Alter,Fahrerlaubnis,Regional_Code,Vorversicherung,Alter_Fzg,Vorschaden,Jahresbeitrag,Vertriebskanal,Kundentreue
0,1,Male,44,True,28,True,> 2 Years,Yes,40454.0,26,217
1,2,Male,76,True,3,True,1-2 Year,No,33536.0,26,183
2,3,Male,47,True,28,True,> 2 Years,Yes,38294.0,26,27
3,4,Male,21,True,11,True,< 1 Year,No,28619.0,152,203
4,5,Female,29,True,41,True,< 1 Year,No,27496.0,152,39

In [347]:
X = merged_df.drop(['id', 'Interesse'],axis=1)
y= merged_df['Interesse']

Perform stratified cross validation for balanced class representation and investigate log loss (metric commonly used for binary classification tasks) of model

In [348]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
#dt_classifier_scores= 
dt_cv=cross_validate(dt_classifier_pipeline,X,y,cv=skf,verbose=1,return_train_score=True,return_estimator=True,scoring = ['neg_log_loss']) #'accuracy'])

In [349]:
print(f"Train log loss {dt_cv['train_neg_log_loss']*-1}")
print(f"Test log loss{dt_cv['test_neg_log_loss']*-1}")

#print(f"Train accuracy {dt_cv['train_accuracy']}")
#print(f"Test accuracy{dt_cv['test_accuracy']}")

Train log loss [0.28747159 0.28786419 0.28756807 0.28777364 0.28776114]
Test log loss[0.2886002  0.28701367 0.28819829 0.28736682 0.2874206 ]

In [350]:
params = {
    'loss_function': 'Logloss',
    'iterations': 100,
    'learning_rate': 0.5,
}

Helper method for easier visualisation of cross validation results

In [351]:
def print_cv_summary(cv_data):
    cv_data.head(10)

    best_value = cv_data['test-Logloss-mean'].min()
    best_iter = cv_data['test-Logloss-mean'].values.argmin()

    print('Best validation Logloss score : {:.4f}{:.4f} on step {}'.format(
        best_value,
        cv_data['test-Logloss-std'][best_iter],
        best_iter)
    )

Format data as Pool for using with CatBoost models

In [352]:
cat_pool = Pool(data=X,label =y,cat_features=categorical_cols)

In [353]:
catboost_cv_data, fitted_cat_model = cv(
    params = params,
    pool = cat_pool,
    fold_count=4,
    shuffle=True,
    partition_random_seed=0,
    plot=False,
    stratified=True,
    verbose=False,
    early_stopping_rounds=10,
    return_models = True
    
)

print_cv_summary(catboost_cv_data)   #Overkill for this scenario

Training on fold [0/4]

bestTest = 0.2734418645
bestIteration = 35

Training on fold [1/4]

bestTest = 0.2738243951
bestIteration = 35

Training on fold [2/4]

bestTest = 0.2734263256
bestIteration = 35

Training on fold [3/4]

bestTest = 0.272956044
bestIteration = 36

Best validation Logloss score : 0.27340.0004 on step 35

In [354]:
classifier = CatBoostClassifier(iterations=200)
classifier.fit(cat_pool)

Learning rate set to 0.5
0:	learn: 0.3266568	total: 546ms	remaining: 1m 48s
1:	learn: 0.2884756	total: 1.13s	remaining: 1m 52s
2:	learn: 0.2815143	total: 1.68s	remaining: 1m 49s
3:	learn: 0.2783545	total: 2.33s	remaining: 1m 54s
4:	learn: 0.2768457	total: 3.43s	remaining: 2m 13s
5:	learn: 0.2759500	total: 4.11s	remaining: 2m 13s
6:	learn: 0.2755964	total: 4.71s	remaining: 2m 10s
7:	learn: 0.2752852	total: 5.31s	remaining: 2m 7s
8:	learn: 0.2750656	total: 6.04s	remaining: 2m 8s
9:	learn: 0.2744261	total: 6.65s	remaining: 2m 6s
10:	learn: 0.2742662	total: 7.23s	remaining: 2m 4s
11:	learn: 0.2741405	total: 7.93s	remaining: 2m 4s
12:	learn: 0.2739896	total: 8.5s	remaining: 2m 2s
13:	learn: 0.2737860	total: 9.05s	remaining: 2m
14:	learn: 0.2735994	total: 9.54s	remaining: 1m 57s
15:	learn: 0.2735532	total: 10.2s	remaining: 1m 56s
16:	learn: 0.2733810	total: 10.7s	remaining: 1m 55s
17:	learn: 0.2733043	total: 11.3s	remaining: 1m 54s
18:	learn: 0.2731792	total: 11.9s	remaining: 1m 53s
19:	learn: 0.2730613	total: 12.5s	remaining: 1m 52s
20:	learn: 0.2729413	total: 13s	remaining: 1m 51s
21:	learn: 0.2728177	total: 13.8s	remaining: 1m 51s
22:	learn: 0.2727398	total: 14.4s	remaining: 1m 50s
23:	learn: 0.2726545	total: 15s	remaining: 1m 49s
24:	learn: 0.2725673	total: 15.6s	remaining: 1m 49s
25:	learn: 0.2724692	total: 16.2s	remaining: 1m 48s
26:	learn: 0.2723903	total: 16.9s	remaining: 1m 48s
27:	learn: 0.2723266	total: 17.4s	remaining: 1m 47s
28:	learn: 0.2722295	total: 18s	remaining: 1m 45s
29:	learn: 0.2721482	total: 18.5s	remaining: 1m 45s
30:	learn: 0.2720596	total: 19.4s	remaining: 1m 46s
31:	learn: 0.2719411	total: 20.1s	remaining: 1m 45s
32:	learn: 0.2718661	total: 21.1s	remaining: 1m 46s
33:	learn: 0.2717387	total: 21.8s	remaining: 1m 46s
34:	learn: 0.2715968	total: 22.4s	remaining: 1m 45s
35:	learn: 0.2715240	total: 23s	remaining: 1m 44s
36:	learn: 0.2714551	total: 23.6s	remaining: 1m 43s
37:	learn: 0.2713773	total: 24.2s	remaining: 1m 43s
38:	learn: 0.2713142	total: 24.7s	remaining: 1m 41s
39:	learn: 0.2713085	total: 25.1s	remaining: 1m 40s
40:	learn: 0.2712278	total: 25.6s	remaining: 1m 39s
41:	learn: 0.2711436	total: 26.2s	remaining: 1m 38s
42:	learn: 0.2710984	total: 26.8s	remaining: 1m 37s
43:	learn: 0.2710307	total: 27.4s	remaining: 1m 37s
44:	learn: 0.2709253	total: 28s	remaining: 1m 36s
45:	learn: 0.2708577	total: 28.6s	remaining: 1m 35s
46:	learn: 0.2707650	total: 29.2s	remaining: 1m 34s
47:	learn: 0.2707014	total: 29.7s	remaining: 1m 34s
48:	learn: 0.2706334	total: 30.3s	remaining: 1m 33s
49:	learn: 0.2705531	total: 31s	remaining: 1m 33s
50:	learn: 0.2705106	total: 32.1s	remaining: 1m 33s
51:	learn: 0.2704528	total: 33.1s	remaining: 1m 34s
52:	learn: 0.2704189	total: 34.1s	remaining: 1m 34s
53:	learn: 0.2703602	total: 35.4s	remaining: 1m 35s
54:	learn: 0.2703320	total: 36.6s	remaining: 1m 36s
55:	learn: 0.2702732	total: 37.8s	remaining: 1m 37s
56:	learn: 0.2702150	total: 38.4s	remaining: 1m 36s
57:	learn: 0.2701279	total: 39.4s	remaining: 1m 36s
58:	learn: 0.2700666	total: 39.9s	remaining: 1m 35s
59:	learn: 0.2700149	total: 40.6s	remaining: 1m 34s
60:	learn: 0.2699521	total: 41.2s	remaining: 1m 33s
61:	learn: 0.2698997	total: 41.7s	remaining: 1m 32s
62:	learn: 0.2698532	total: 42.3s	remaining: 1m 32s
63:	learn: 0.2698195	total: 42.8s	remaining: 1m 30s
64:	learn: 0.2697652	total: 43.3s	remaining: 1m 29s
65:	learn: 0.2697258	total: 43.8s	remaining: 1m 28s
66:	learn: 0.2696754	total: 44.3s	remaining: 1m 27s
67:	learn: 0.2696194	total: 44.8s	remaining: 1m 27s
68:	learn: 0.2695640	total: 45.4s	remaining: 1m 26s
69:	learn: 0.2695210	total: 45.9s	remaining: 1m 25s
70:	learn: 0.2694715	total: 46.4s	remaining: 1m 24s
71:	learn: 0.2694227	total: 46.9s	remaining: 1m 23s
72:	learn: 0.2693769	total: 47.4s	remaining: 1m 22s
73:	learn: 0.2693769	total: 47.7s	remaining: 1m 21s
74:	learn: 0.2693107	total: 48.2s	remaining: 1m 20s
75:	learn: 0.2692437	total: 48.7s	remaining: 1m 19s
76:	learn: 0.2692001	total: 49.1s	remaining: 1m 18s
77:	learn: 0.2691467	total: 49.8s	remaining: 1m 17s
78:	learn: 0.2691036	total: 50.4s	remaining: 1m 17s
79:	learn: 0.2690786	total: 50.9s	remaining: 1m 16s
80:	learn: 0.2690163	total: 51.4s	remaining: 1m 15s
81:	learn: 0.2689416	total: 52s	remaining: 1m 14s
82:	learn: 0.2688889	total: 52.5s	remaining: 1m 14s
83:	learn: 0.2688346	total: 53s	remaining: 1m 13s
84:	learn: 0.2687832	total: 53.8s	remaining: 1m 12s
85:	learn: 0.2687304	total: 54.7s	remaining: 1m 12s
86:	learn: 0.2687058	total: 55.3s	remaining: 1m 11s
87:	learn: 0.2686887	total: 55.8s	remaining: 1m 11s
88:	learn: 0.2686400	total: 56.2s	remaining: 1m 10s
89:	learn: 0.2685963	total: 56.7s	remaining: 1m 9s
90:	learn: 0.2685393	total: 57.3s	remaining: 1m 8s
91:	learn: 0.2685393	total: 57.9s	remaining: 1m 7s
92:	learn: 0.2685339	total: 58.5s	remaining: 1m 7s
93:	learn: 0.2684928	total: 59.3s	remaining: 1m 6s
94:	learn: 0.2684461	total: 1m	remaining: 1m 6s
95:	learn: 0.2684078	total: 1m	remaining: 1m 5s
96:	learn: 0.2683532	total: 1m 1s	remaining: 1m 4s
97:	learn: 0.2683161	total: 1m 1s	remaining: 1m 4s
98:	learn: 0.2682620	total: 1m 2s	remaining: 1m 3s
99:	learn: 0.2682245	total: 1m 2s	remaining: 1m 2s
100:	learn: 0.2681687	total: 1m 3s	remaining: 1m 2s
101:	learn: 0.2681042	total: 1m 4s	remaining: 1m 1s
102:	learn: 0.2680775	total: 1m 4s	remaining: 1m 1s
103:	learn: 0.2680436	total: 1m 5s	remaining: 1m
104:	learn: 0.2679837	total: 1m 6s	remaining: 59.7s
105:	learn: 0.2679585	total: 1m 6s	remaining: 59s
106:	learn: 0.2678982	total: 1m 7s	remaining: 58.3s
107:	learn: 0.2678394	total: 1m 7s	remaining: 57.7s
108:	learn: 0.2677980	total: 1m 8s	remaining: 57.2s
109:	learn: 0.2677648	total: 1m 9s	remaining: 56.7s
110:	learn: 0.2677310	total: 1m 10s	remaining: 56.4s
111:	learn: 0.2676743	total: 1m 11s	remaining: 56s
112:	learn: 0.2676282	total: 1m 12s	remaining: 55.5s
113:	learn: 0.2675789	total: 1m 12s	remaining: 54.9s
114:	learn: 0.2675365	total: 1m 13s	remaining: 54.3s
115:	learn: 0.2674933	total: 1m 14s	remaining: 54.3s
116:	learn: 0.2674552	total: 1m 16s	remaining: 54.3s
117:	learn: 0.2674098	total: 1m 17s	remaining: 53.6s
118:	learn: 0.2673844	total: 1m 17s	remaining: 52.8s
119:	learn: 0.2673388	total: 1m 18s	remaining: 52.1s
120:	learn: 0.2672959	total: 1m 18s	remaining: 51.3s
121:	learn: 0.2672539	total: 1m 19s	remaining: 50.7s
122:	learn: 0.2672082	total: 1m 19s	remaining: 49.9s
123:	learn: 0.2671630	total: 1m 20s	remaining: 49.2s
124:	learn: 0.2671122	total: 1m 20s	remaining: 48.5s
125:	learn: 0.2670574	total: 1m 21s	remaining: 47.7s
126:	learn: 0.2670291	total: 1m 21s	remaining: 47s
127:	learn: 0.2669798	total: 1m 22s	remaining: 46.3s
128:	learn: 0.2669336	total: 1m 22s	remaining: 45.6s
129:	learn: 0.2669184	total: 1m 23s	remaining: 44.8s
130:	learn: 0.2668704	total: 1m 23s	remaining: 44.1s
131:	learn: 0.2668170	total: 1m 24s	remaining: 43.4s
132:	learn: 0.2667765	total: 1m 24s	remaining: 42.7s
133:	learn: 0.2667091	total: 1m 25s	remaining: 42s
134:	learn: 0.2666755	total: 1m 25s	remaining: 41.3s
135:	learn: 0.2666215	total: 1m 26s	remaining: 40.6s
136:	learn: 0.2665584	total: 1m 26s	remaining: 40s
137:	learn: 0.2665125	total: 1m 27s	remaining: 39.3s
138:	learn: 0.2664661	total: 1m 27s	remaining: 38.6s
139:	learn: 0.2664324	total: 1m 28s	remaining: 37.9s
140:	learn: 0.2664002	total: 1m 28s	remaining: 37.2s
141:	learn: 0.2663826	total: 1m 29s	remaining: 36.5s
142:	learn: 0.2663393	total: 1m 29s	remaining: 35.8s
143:	learn: 0.2662764	total: 1m 30s	remaining: 35.1s
144:	learn: 0.2662288	total: 1m 30s	remaining: 34.5s
145:	learn: 0.2661770	total: 1m 31s	remaining: 33.8s
146:	learn: 0.2661245	total: 1m 31s	remaining: 33.1s
147:	learn: 0.2660826	total: 1m 32s	remaining: 32.5s
148:	learn: 0.2660343	total: 1m 32s	remaining: 31.8s
149:	learn: 0.2659876	total: 1m 33s	remaining: 31.1s
150:	learn: 0.2659524	total: 1m 33s	remaining: 30.5s
151:	learn: 0.2659189	total: 1m 34s	remaining: 29.8s
152:	learn: 0.2658653	total: 1m 34s	remaining: 29.1s
153:	learn: 0.2658103	total: 1m 35s	remaining: 28.5s
154:	learn: 0.2657683	total: 1m 35s	remaining: 27.8s
155:	learn: 0.2657340	total: 1m 36s	remaining: 27.2s
156:	learn: 0.2656930	total: 1m 36s	remaining: 26.5s
157:	learn: 0.2656551	total: 1m 37s	remaining: 25.9s
158:	learn: 0.2656246	total: 1m 37s	remaining: 25.2s
159:	learn: 0.2655947	total: 1m 38s	remaining: 24.6s
160:	learn: 0.2655478	total: 1m 38s	remaining: 23.9s
161:	learn: 0.2654860	total: 1m 39s	remaining: 23.3s
162:	learn: 0.2654314	total: 1m 39s	remaining: 22.7s
163:	learn: 0.2653785	total: 1m 40s	remaining: 22s
164:	learn: 0.2653472	total: 1m 40s	remaining: 21.4s
165:	learn: 0.2652986	total: 1m 41s	remaining: 20.8s
166:	learn: 0.2652826	total: 1m 41s	remaining: 20.1s
167:	learn: 0.2652468	total: 1m 42s	remaining: 19.5s
168:	learn: 0.2652048	total: 1m 42s	remaining: 18.9s
169:	learn: 0.2651765	total: 1m 43s	remaining: 18.2s
170:	learn: 0.2651318	total: 1m 44s	remaining: 17.6s
171:	learn: 0.2650932	total: 1m 44s	remaining: 17s
172:	learn: 0.2650579	total: 1m 44s	remaining: 16.4s
173:	learn: 0.2650184	total: 1m 45s	remaining: 15.8s
174:	learn: 0.2649640	total: 1m 45s	remaining: 15.1s
175:	learn: 0.2649244	total: 1m 46s	remaining: 14.5s
176:	learn: 0.2648757	total: 1m 46s	remaining: 13.9s
177:	learn: 0.2648189	total: 1m 47s	remaining: 13.3s
178:	learn: 0.2647862	total: 1m 47s	remaining: 12.7s
179:	learn: 0.2647544	total: 1m 48s	remaining: 12.1s
180:	learn: 0.2647113	total: 1m 48s	remaining: 11.4s
181:	learn: 0.2646714	total: 1m 49s	remaining: 10.8s
182:	learn: 0.2646259	total: 1m 49s	remaining: 10.2s
183:	learn: 0.2645768	total: 1m 50s	remaining: 9.62s
184:	learn: 0.2645280	total: 1m 51s	remaining: 9.01s
185:	learn: 0.2644697	total: 1m 51s	remaining: 8.4s
186:	learn: 0.2644245	total: 1m 52s	remaining: 7.79s
187:	learn: 0.2643770	total: 1m 52s	remaining: 7.19s
188:	learn: 0.2643309	total: 1m 53s	remaining: 6.58s
189:	learn: 0.2642812	total: 1m 53s	remaining: 5.98s
190:	learn: 0.2642650	total: 1m 54s	remaining: 5.38s
191:	learn: 0.2642290	total: 1m 54s	remaining: 4.78s
192:	learn: 0.2642010	total: 1m 55s	remaining: 4.18s
193:	learn: 0.2641657	total: 1m 55s	remaining: 3.58s
194:	learn: 0.2641370	total: 1m 56s	remaining: 2.98s
195:	learn: 0.2640902	total: 1m 56s	remaining: 2.38s
196:	learn: 0.2640418	total: 1m 57s	remaining: 1.78s
197:	learn: 0.2640293	total: 1m 57s	remaining: 1.19s
198:	learn: 0.2640070	total: 1m 58s	remaining: 594ms
199:	learn: 0.2639604	total: 1m 58s	remaining: 0us

In [356]:
dt_classifier_pipeline.score(X,y)

0.877436638861848

In [358]:
classifier.score(X,y)

0.8804567722095253

Save the (slightly superior in comparison to the decision tree classifier) catboost model

In [359]:
classifier.save_model("catmodel",
           format="cbm",
           export_parameters=None,
           pool=cat_pool)